.button-bg{
    background-color: #4EA4E4;
    color: #fff;
    border-radius: 48px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    width: 100%;
}